@page
@model UsmanovBochkarev.Pages.AuthModel
@{
}

<section class="h-100 gradient-form" style="background-color: black ;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div>
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Valorant_logo_-_pink_color_version.svg/544px-Valorant_logo_-_pink_color_version.svg.png?20200516191842"
                                             style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">Команда Бочманов </h4>
                                    </div>
                                    <div class="text-right">
                                        <img src="https://www.gamerclick.it/immagini/videogame/Valorant/cover/Valorant-cover.jpg"
                                             style="width: 300px;" />
                                    </div>

                                    <form method="post">
                                        <div class="form-outline mb-4">
                                            <input type="text" name="login" id="login" class="form-control"
                                                   placeholder="Логин" />
                                            <label class="form-label" for="form2Example11">Логин</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" id="password" class="form-control" name="password" />
                                            <label class="form-label" for="form2Example22">Пароль</label>
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" style="background-color: darkred" type="submit">
                                                Вход
                                            </button>
                                            </div>  
                                    </form>
                                </div>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

